services:
    GaylordP\UploadBundle\Controller\UploadController:
        tags: ['controller.service_arguments']
        autowire: true

    GaylordP\UploadBundle\EventListener\MediaListener:
        arguments:
            - '%upload_directory%'
        tags:
            -
                name: 'doctrine.event_listener'
                event: 'postPersist'

    GaylordP\UploadBundle\Form\Type\UploadType:
        arguments:
            - '@request_stack'
            - '%upload_directory%'
            - '@validator'
            - '@GaylordP\UploadBundle\Form\DataTransformer\UploadTransformer'
        tags:
            - 'form.type'

    GaylordP\UploadBundle\Repository\MediaRepository:
        arguments:
            - '@doctrine'
        tags:
            - 'doctrine.repository_service'

    GaylordP\UploadBundle\Twig\Extension:
        arguments:
            - '@GaylordP\UploadBundle\Util\MediaResize'
        tags:
            - 'twig.extension'

    GaylordP\UploadBundle\Form\DataTransformer\UploadTransformer:

    GaylordP\UploadBundle\Util\MediaResize:
        arguments:
            - '%upload_directory%'
            - '%kernel.project_dir%'
            - '%upload%'
